# Backend
NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:3000

# MSSQL
DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=your_strong_password
DB_NAME=soundy
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_AUTO_CREATE_DATABASE=true
DB_SYNC_SCHEMA=true

# App settings
FAVORITES_PLAYLIST_NAME=favorite
SESSION_MAX_AGE_DAYS=7

# Absolute path to directory with tracks/covers/uploads
TRACKS_BASE_DIR=C:/Users/zengy/Documents/project/soundy/database/music
UPLOAD_TMP_DIR=C:/Users/zengy/Documents/project/soundy/database/.uploads_tmp
